<!DOCTYPE html>
<form action="/articles/<%= @article.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label>Title:
    <input type="text" name="title" value= "<%= @article.title %>" >
    </label>
    <label>Content:
    <input type="text" name="content" value= "<%= @article.content %>" >
    </label>

    <input type="submit" value="submit">
    </form>
