<form method="POST" action="/articles">

    <label>Title:
    <input id="name" type="text" name="title">
    </label>
    <label>Content:
    <input id="content" type="text" name="content">
    </label>

    <input type="submit">

    </form>
